
<div class="w-full bg-pink-600 relative">
    <div class="container mx-auto p-5">
        <h1 class="text-dark text-2xl font-semibold font-mono">{{ title-text }}</h1>
        <p class="text-dark text-xl pt-3 font-normal font-mono">We are building the data platform for AI first organizations.</p>
        {% bookshop "element/button" bind: button %}
    </div>
</div>