
<div class="container mx-auto mt-20 mb-20">
    <a href="/"><img src="https://cdn.getoutrun.com/website/brand/logo-horizontal.svg" class="mt-5 hidden h-5 md:block"></a>
    <p class="text-light text-xl font-mono font-normal pt-5 leading-loose">Copyright 2023 - <a href="https://loonshoot.com" class="underline">LOON SHOOT PTY LTD</a>.</p>
    <p class="text-light text-xl font-mono font-normal pt-2 leading-loose"><a href="/terms/" class="underline">terms</a> | <a href="/sitemap.xml" class="underline">sitemap</a> | <a href="/privacy/" class="underline">privacy</a></p>
</div>