
<div class="container mx-auto mt-20 mb-20">
    <h2 class="text-pink-600 text-2xl font-semibold font-mono leading-loose">The footer</h2>
    <img src="https://cdn.getoutrun.com/website/brand/logo-horizontal.svg" class="mt-5 hidden h-5 md:block">
    <p class="text-light text-xl font-mono font-normal pt-5 leading-loose">Copyright 2023 - LOON SHOOT PTY LTD.</p>
    <p class="text-light text-xl font-mono font-normal pt-2 leading-loose">contact | sitemap | LinkedIn </p>
</div>