
<div class="w-full relative">
    <div class="container mx-auto flex pt-5 justify-between">
        <div class="textBlock block self-center">
            {{ htmlBlock }}
        </div>
    </div>
</div>