@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

:root {
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-weight: 600;
    --column: 800px;
    --max-column: 90%;
    --background: #E4E4E4;
    --foreground: #1C1C1C;
    --translucent: #1c1c1c19;
}

body {
    -webkit-overflow-scrolling: touch;

    font-family: var(--font);
    font-size: 18px;
    font-weight: var(--font-weight);
    background-color: var(--background);
    color: var(--foreground);

    margin: 0;

    & > main {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

a {
    color: var(--foreground);

    &:hover {
        opacity: 0.75;
    }
}
.markdown {
    a {
        @apply text-pink-600;
        @apply decoration-solid;
    }
    h1 {
        @apply text-pink-600;
        @apply text-4xl;
        @apply font-semibold;
        @apply font-mono;
        @apply leading-loose;
    }
    h2 {
        @apply text-pink-600;
        @apply text-2xl;
        @apply font-semibold;
        @apply font-mono;
        @apply mt-6;
        @apply leading-loose;
    }
    h3 {
        @apply text-pink-600;
        @apply text-xl;
        @apply font-semibold;
        @apply font-mono;
        @apply mt-6;
        @apply leading-loose;
    }
    p {
        @apply text-light;
        @apply text-xl;
        @apply mt-6;
        @apply font-mono;
        @apply font-normal;
        @apply leading-loose;
    }
    li {
        @apply text-light;
        @apply text-xl;
        @apply mt-6;
        @apply ml-5;
        @apply font-mono;
        @apply font-normal;
        @apply leading-loose;
        @apply list-disc;
    }
    figcaption {
        @apply text-light;
        @apply text-lg;
        @apply mt-6;
        @apply font-mono;
        @apply font-normal;
        @apply leading-loose;
    }
    pre {
        @apply text-pink-600;
        @apply bg-light;
        @apply overflow-scroll;
        @apply p-6;
        @apply mt-6;
    }
    .tldr {
        @apply p-6;
        @apply mt-4;
        @apply border-light;
        @apply border-2;
        @apply rounded-none;
        
        h2 {
            @apply mt-2;
            @apply text-4xl;
        }
    
        li {
            @apply text-lg;
            @apply list-none;
        }
    }
}